<div class="jumbotron title">
  <div class="container">
    <h1><i class="fa fa-bicycle"></i> bspoked <i class="fa fa-bicycle"></i></h1>
  </div>
</div>

<div class="container-fluid">
  <div class="col-sm-6">
    <h2 class="user-info-title">My Profile</h2>
    <h3><%= @user.username %></h3>
    <p class="user-info">Email: <%= @user.email %></p>
    <p class="user-info">bspoked since:
      <% if @user.provider %>
        <%= @user.created_at.strftime("%A, %B %m, %Y") %></p>
      <% else %>
        <%= @user.activated_at.strftime("%A, %B %m, %Y") %></p>
      <% end %>
  </div>

  <div class="col-sm-6">
    <h2 class="user-info-title">My Locations</h2>
    <table class="table table-hover user-info">
      <tr>
        <th>Type</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Delete Location</th>
      </tr>

      <% @user.locations.each do |location| %>
        <tr>
          <td>
            <% if location.node_number %>
              Node #<%= location.node_number %>
            <% else %>
              <span class="fa fa-map-marker"></span>
            <% end %>
          </td>
          <td><%= location.latitude %></td>
          <td><%= location.longitude %></td>
          <td>
            <%= link_to user_location_path(session[:user_id], location.id), method: :delete, class: 'btn btn-default' do %>
              <span class="glyphicon glyphicon-trash" aria-hidden="true" data-toggle="tooltip" title="Delete Location"></span>
            <% end %>
          </td>
        </tr>

      <% end %>
    </table>

  </div>
</div>
