<div id='map' ></div>
<% if session[:user_id].nil? %>
  <div class='login'>
    <h2>Login with:</h2>

    <div class="login-links"><%= link_to provider_login_path(provider: :github) do %>
      <span class="fa fa-github fa-3x center ig-icon" aria-hidden="true" data-toggle="tooltip" title="github login"></span>
    <% end %></div>

    <h2>or via email:</h2>

    <%= form_for(:session, url: login_path)  do |f| %>
			<div class="form-group col-sm-12">
				<%= f.label :username %>
				<%= f.text_field :username, class: "form-control" %>
			</div>

			<div class="form-group col-sm-12">
					<%= f.label :password %>
					<%= f.password_field :password, class: "form-control"  %>
			</div>

			<%= f.submit "Log In", class: "btn btn-primary" %>
		<% end %>

		<!-- register button -->
    <div class="register">
      <h4>New to bspoked?</h4>
      <%= link_to "Register with email", new_user_path, class: 'btn btn-default' %>
      <p>or <%= link_to "Continue without logging in", root_path, class: "guest-user" %></p>
    </div>
  </div>

  <div class="login-or-register">
    <%= link_to "Login or Register", root_path, class: 'btn btn-default' %>
  </div>

<% else %>
  <div class="logout">
    <p><%= "#{@username}" %></p>
    <%= link_to "Logout", logout_path, method: :delete, class: 'btn btn-default' %>
  </div>
<% end %>



<div class="nav-bar">
  <footer>
    <%= link_to root_path do %>
      <span class="find-location col-xs-4 fa fa-search fa-3x center ig-icon" aria-hidden="true" data-toggle="tooltip" title="search by address"></span>
    <% end %>

    <%= link_to root_path do %>
      <span class="my-location col-xs-4 fa fa-map-marker fa-3x center ig-icon" aria-hidden="true" data-toggle="tooltip" title="find my location"></span>
    <% end %>

    <%= link_to root_path do %>
      <span class="my-account col-xs-4 fa fa-user fa-3x center ig-icon" aria-hidden="true" data-toggle="tooltip" title="account info"></span>
    <% end %>
  </footer>
</div>

<div class="container-fluid location-search">
  <form class="form-inline">
    <div class="form-group">
      <label for="location-search"><h5>Start Location: </h5></label>
      <input type="text" name="location-search", class="form-control location-query">
      <button class="btn btn-default location-submit" type="submit">
        <span class="find-location col-xs-4 fa fa-search ig-icon" aria-hidden="true" data-toggle="tooltip" title="go"></span>
      </button>
    </div>
  </form>
</div>

<!-- <div class="my-account">

</div> -->
