<div id='map' ></div>

<% if session[:user_id].nil? %>
  <div class='login col-sm-6 col-sm-offset-3'>
    <div>
      <h2>Login with:</h2>
    </div>

    <div class="login-links center">
      <%= link_to provider_login_path(provider: :google_oauth2) do %>
        <span class="fa fa-google-plus-square fa-3x center" aria-hidden="true" data-toggle="tooltip" title="github login"></span>
      <% end %>
      <%= link_to provider_login_path(provider: :github) do %>
        <span class="fa fa-github fa-3x center" aria-hidden="true" data-toggle="tooltip" title="github login"></span>
      <% end %>
    </div>

    <div class='row'>
      <h2>or via email:</h2>
    </div>

    <div class="form-group">
      <%= form_for(:session, url: login_path)  do |f| %>
  			<%= f.label :username %>
  			<%= f.text_field :username, class: "form-control form-group" %>

  			<%= f.label :password %>
        <%= link_to "(forgot password)", new_password_reset_path %>
  			<%= f.password_field :password, class: "form-control form-group"  %>

  			<%= f.submit "Log In", class: "btn btn-primary form-group" %>
      <% end %>
    </div>



		<!-- register button -->
    <div class="register">
      <h4>New to bspoked?</h4>
      <%= link_to "Register with email", new_user_path, class: 'btn btn-default' %>
      <p>or <%= link_to "Continue without logging in", root_path, class: "guest-user" %></p>
    </div>
  </div>

<% else %>
  <div class="logout">
    <p><%= "#{@username}" %>
      <%= link_to "Logout", logout_path, method: :delete, class: 'btn btn-default' %>
    </p>
  </div>
<% end %>

<div class="nav-bar">
  <footer>
    <%= link_to root_path do %>
      <span class="find-location col-xs-4 fa fa-search fa-3x center ig-icon" aria-hidden="true" data-toggle="tooltip" title="search by address"></span>
    <% end %>

    <%= link_to root_path do %>
      <span class="my-location col-xs-4 fa fa-map-marker fa-3x center ig-icon" aria-hidden="true" data-toggle="tooltip" title="find my location"></span>
    <% end %>

    <% if session[:user_id] %>
      <%= link_to user_path(@user) do %>
        <span class="my-account col-xs-4 fa fa-user fa-3x center ig-icon" aria-hidden="true" data-toggle="tooltip" title="account info"></span>
      <% end %>
    <% else %>
      <%= link_to root_path do %>
        <span class="login-or-register col-xs-4 fa fa-user fa-3x center ig-icon" aria-hidden="true" data-toggle="tooltip" title="login or register"></span>
      <% end %>
    <% end %>
  </footer>
</div>

<div class="container-fluid location-search">
  <form class="form-inline">
    <div class="form-group">
      <label for="location-search"><h5>Start Location: </h5></label>
      <input type="text" name="location-search", class="form-control location-query">
      <button class="btn btn-default location-submit" type="submit">
        <span class="find-location col-xs-4 fa fa-search ig-icon" aria-hidden="true" data-toggle="tooltip" title="go"></span>
      </button>
    </div>
  </form>
</div>

<div class="save-location">
  <span class="fa fa-user-plus fa-2x"></span>
</div>

<div class="directions-icon">
  <span class="fa fa-arrow-circle-down fa-2x" title="Show directions"></span>
</div>

<div id="directions">
  <div id="instructions"></div>
</div>
