<!DOCTYPE html>
<html>
<head>
  <title>bspoked</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
  <script src="https://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
  <script src='https://code.jquery.com/jquery-1.11.0.min.js'></script>

  <!-- NOTE: Below are for mapbox -->
  <link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-osm/v0.1.0/leaflet-osm.js'></script>

  <!-- Mapbox directions -->
  <script src='https://api.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.4.0/mapbox.directions.js'></script>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.4.0/mapbox.directions.css' type='text/css' />

  <!-- Leaflet Label plugin for showing node numbers -->
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.css' rel='stylesheet' />

  <!-- FontAwesome for icons-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'bikefavicon.ico' %>
</head>
<body data-logged-in-user="<%= session[:user_id] ? true : false %>" >

  <div class="alerts-div">
    <% if flash[:error] %>
      <h5 class="alert alert-danger"><%= flash[:error] %></h5>
    <% end %>
    <% if flash[:alert] %>
      <h5 class="alert alert-warning"><%= flash[:alert] %></h5>
    <% end %>
    <% if flash[:success] %>
      <h5 class="alert alert-success"><%= flash[:success] %></h5>
    <% end %>
    <% if flash[:info] %>
      <h5 class="alert alert-info"><%= flash[:info] %></h5>
    <% end %>
  </div>

  <%= yield %>

</body>
</html>
